.navBottom {
    bottom: 0%;
    border-bottom: 1.2px solid #f1f1f1;
    transition: all ease 0.5s;
}
.listNav {
    padding: .4vh 0;
}

.navElem h3 {
    text-transform: uppercase;
    margin-bottom: 2.6vw;
}
.navElem h5 {
    margin-bottom: 1vw;
    display: none;
    overflow: hidden;
}

.navElem h5 span {
    font-size: .8vw;
    text-transform: capitalize;
    display: inline-block;
    white-space: nowrap;
}
